[core]
	excludesfile = /Users/hitoshi.saito/.gitignore_global
[include]
	path = ~/.gitconfig.local
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
  b = branch
  ba = branch --all
  co = checkout
  d = diff
  dc = diff --cached
  l = log --abbrev-commit --date=iso --graph --pretty=format:'%C(red)%h %C(yellow)%d%C(green)%cd %C(blue)%cn\n%C(reset)%s\n'
  lv = log --name-status --abbrev-commit --date=iso --graph --pretty=format:'%C(red)%h %C(yellow)%d%C(green)%cd %C(blue)%cn\n%C(reset)%s\n'
  s = status --branch --short
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %

[color]
  ui = true

[core]
  excludesfile = ~/.gitignore-global
  editor = /usr/bin/vim
  attributesfile = ~/.gitattributes
  quotepath = false

[push]
  default = current

[merge]
    ff = false
[pull]
    ff = only

[ghq]
  root = ~/.ghq
  root = ~/.go/src

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
